############# Default obfuscation configuration ####################
# Shrinking: reduces app size by removing unused classes and members. When enabled, unused native methods are stripped and the app then crashes at runtime; when disabled the APK grows too much.
#-dontshrink
# Print verbose information while obfuscating
-verbose
-renamesourcefileattribute SourceFile
-keepattributes *Annotation*, SourceFile, InnerClasses, LineNumberTable, Signature, EnclosingMethod
-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*    # optimization algorithms used during obfuscation

-keep,allowshrinking class * extends android.app.Activity

-keep,allowshrinking class * extends android.app.Service

-keep public class * extends android.app.Activity    # no members specified: keeps only the class name from being obfuscated
-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.app.IntentService
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class * extends android.app.backup.BackupAgentHelper
-keep public class * extends android.preference.Preference
-keep public class * extends android.hardware.display.DisplayManager
-keep public class * extends android.os.UserManager
-keep public class * extends android.app.Fragment
-keep public class * extends androidx.fragment.app.Fragment
-keep public class * extends androidx.viewpager.widget.PagerAdapter
-keep public class * extends androidx.recyclerview.widget.RecyclerView$Adapter


-keep class com.google.android.material.** {*;}
-keep class androidx.** {*;}
-keep public class * extends androidx.**
-keep interface androidx.** {*;}
-dontwarn com.google.android.material.**
-dontnote com.google.android.material.**
-dontwarn androidx.**


-keep public class * extends android.support.v4.**    # * matches any characters except '.'; ** matches any characters
-keep interface android.support.v4.app.** { *; }    # { *; } keeps everything in an interface from being obfuscated
# The line below keeps everything inside every class in this package from being obfuscated
-keep class android.support.v4.** { *; }
-keep class android.os.**{*;}
-keep class android.support.v8.renderscript.** { *; }

-keep class **.R$* { *; }
-keep class **.R{ *; }

# Any class implementing android.os.Parcelable, plus its public final static Creator field, must not be obfuscated or removed
-keep class * implements android.os.Parcelable {    # keep Parcelable from being obfuscated
  public static final android.os.Parcelable$Creator *;
}
# Fields must not be obfuscated either, since they may be persisted to a file
-keepclassmembers class * implements android.os.Parcelable {
 public <fields>;
 private <fields>;
}

# Difference between keepclasseswithmembers and keepclasseswithmembernames: -keepclassmembers stops members being removed or renamed; -keepclasseswithmembernames only stops renaming
-keepclassmembers class * {     # keep native methods from being obfuscated or removed (removing even unused ones causes runtime errors)
    native <methods>;
}

-keepclasseswithmembers class * {         # keep custom view classes from being obfuscated
    public <init>(android.content.Context, android.util.AttributeSet);
}

-keepclasseswithmembers class * {         # keep custom view classes from being obfuscated
    public <init>(android.content.Context, android.util.AttributeSet, int);
}

-keepclasseswithmembers class * {
  public <init>(android.content.Context, android.util.AttributeSet, int, int);
}

-keepclassmembers class * extends android.app.Activity { # keep class members
   public void *(android.view.View);
}

-keepclassmembers class * extends android.content.Context {
  public void *(android.view.View);
  public void *(android.view.MenuItem);
}

-keepclassmembers enum * {                  # keep enum classes from being obfuscated
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

# Explicitly preserve all serialization members. The Serializable interface
# is only a marker interface, so it wouldn't save them.
-keepnames class * implements java.io.Serializable

-keepclassmembers class * implements java.io.Serializable {
  static final long serialVersionUID;
  private static final java.io.ObjectStreamField[] serialPersistentFields;
  private void writeObject(java.io.ObjectOutputStream);
  private void readObject(java.io.ObjectInputStream);
  java.lang.Object writeReplace();
  java.lang.Object readResolve();
}


# Understand the @Keep support annotation.
-keep class androidx.annotation.Keep

-keep @androidx.annotation.Keep class * {*;}

# Do not obfuscate subclasses under @Keep; unclear whether this is actually needed
-keep @androidx.annotation.Keep class ** {*;}

-keepclasseswithmembers class * {
    @androidx.annotation.Keep <methods>;
}

-keepclasseswithmembers class * {
    @androidx.annotation.Keep <fields>;
}

-keepclasseswithmembers class * {
    @androidx.annotation.Keep <init>(...);
}



#----------------- the rules above are the generic obfuscation rules ------------------------


# Keep methods used in tests.
# This is only needed when running tests with proguard enabled.
-keepclassmembers class org.apache.commons.lang3.StringUtils {*;}
-keepclassmembers class androidx.appcompat.app.ActionBar {
    public ** getTitle();
}
-keepclassmembers class org.apache.commons.io.IOUtils {
    public static void write(...);
}

-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keepclassmembers class * implements android.os.Parcelable {
    static android.os.Parcelable$Creator CREATOR;
}

-keep public class org.jsoup.** {
    public *;
}

# for okhttp
-dontwarn okhttp3.**
-dontwarn okio.**
-dontwarn javax.annotation.**
-keepnames class okhttp3.internal.publicsuffix.PublicSuffixDatabase
-dontwarn org.codehaus.mojo.animal_sniffer.*

# for RxJava RxAndroid
-dontwarn sun.misc.Unsafe
-dontwarn sun.misc.**
# for retrolambda
-dontwarn java.lang.invoke.*

# greenrobot EventBus
-keepattributes *Annotation*
-keepclassmembers class * {
    @org.greenrobot.eventbus.Subscribe <methods>;
}
-keep enum org.greenrobot.eventbus.ThreadMode { *; }

# android-iconify
-keep class com.joanzapata.** { *; }

# Glide
-keep public class * implements com.bumptech.glide.module.GlideModule
-keep public class * extends com.bumptech.glide.module.AppGlideModule
-keep public enum com.bumptech.glide.load.ImageHeaderParser$** {
  **[] $VALUES;
  public *;
}
-dontwarn com.bumptech.glide.load.resource.bitmap.VideoDecoder

# for ViewPageIndicator problems (https://github.com/JakeWharton/ViewPagerIndicator/issues/366):
-dontwarn com.viewpagerindicator.LinePageIndicator


# Retrofit 2.0
-dontwarn retrofit2.**
-keep class retrofit2.** { *; }
-keepattributes Signature
-keepattributes Exceptions

-keepclasseswithmembers class * {
    @retrofit2.http.* <methods>;
}

# Moshi
-keep class com.squareup.moshi.** { *; }
-keep interface com.squareup.moshi.** { *; }
-keep public class retrofit2.adapter.rxjava.RxJavaCallAdapterFactory { *; }

# awaitility
-dontwarn java.beans.BeanInfo
-dontwarn java.beans.Introspector
-dontwarn java.beans.IntrospectionException
-dontwarn java.beans.PropertyDescriptor
-dontwarn java.lang.management.ManagementFactory
-dontwarn java.lang.management.ThreadInfo
-dontwarn java.lang.management.ThreadMXBean

#for zt-zip
-dontwarn java.nio.**
-keep class java.nio.** { *; }
-dontwarn java.util.zip**
-keep class java.util.zip.** { *; }
-dontwarn org.slf4j.impl**
-keep class org.slf4j.impl.** { *; }

# Gson specific classes
-keep class sun.misc.Unsafe { *; }
#-keep class com.google.gson.stream.** { *; }

# Application classes that will be serialized/deserialized over Gson
-keep class com.google.gson.examples.android.model.** { *; }


# commons-lang3 / commons-io
-dontwarn org.apache.**
-keep class org.apache.** { *; }

# Understand the @Keep support annotation.
-keep class androidx.annotation.Keep

-keep @androidx.annotation.Keep class * {*;}

# Do not obfuscate subclasses under @Keep; unclear whether this is actually needed
-keep @androidx.annotation.Keep class ** {*;}

-keepclasseswithmembers class * {
    @androidx.annotation.Keep <methods>;
}

-keepclasseswithmembers class * {
    @androidx.annotation.Keep <fields>;
}

-keepclasseswithmembers class * {
    @androidx.annotation.Keep <init>(...);
}

# for glide4
-keep public class * implements com.bumptech.glide.module.GlideModule
-keep class * extends com.bumptech.glide.module.AppGlideModule {
 <init>(...);
}
-keep public enum com.bumptech.glide.load.ImageHeaderParser$** {
  **[] $VALUES;
  public *;
}
-keep class com.bumptech.glide.load.data.ParcelFileDescriptorRewinder$InternalRewinder {
  *** rewind();
}

# for DexGuard only
#-keepresourcexmlelements manifest/application/meta-data@value=GlideModule

# As of Glide 4.0, GifDrawable no longer exposes a getDecoder() method,
# so the gifDecoder field is read by reflection; GifFrameLoader and GifState must stay unobfuscated
-keep class com.bumptech.glide.load.resource.gif.GifDrawable$GifState{*;}
-keep class com.bumptech.glide.load.resource.gif.GifFrameLoader {*;}

# fyyd has JSON model classes
-keep class de.mfietz.fyydlin.* { *; }

# OkHttp
-keepattributes Signature
-keepattributes *Annotation*
-keep class okhttp3.** { *; }
-keep interface okhttp3.** { *; }
-dontwarn okhttp3.**
-dontwarn okio.**

#or android.enableR8.fullMode=false
#https://r8.googlesource.com/r8/+/refs/heads/master/compatibility-faq.md#troubleshooting
-keep class com.google.gson.reflect.TypeToken
-keep class * extends com.google.gson.reflect.TypeToken
-keep public class * implements java.lang.reflect.Type

# This is generated automatically by the Android Gradle plugin.
-dontwarn android.app.Activity$TranslucentConversionListener
-dontwarn com.beloo.widget.chipslayoutmanager.Orientation
